@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  /* Set border-box as the global default */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Allow each element to override */
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.loading-spinner {
  position: fixed;
  z-index: 1;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear ease-in-out 0.8s 2s forwards;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.d2 {
  animation-delay: 0.05s;
}

.d3 {
  animation-delay: 0.1s;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes disappear {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
header {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 1rem;
}

h2 {
  margin-bottom: 0.15rem;
}

h3 {
  margin: 0.6rem 0 0.3rem 0;
}

html {
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  font-family: Shrikhand, Arial, sans-serif;
  text-align: center;
}

.title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem 3.5rem 0 3.5rem;
}
.title--center {
  text-align: center;
}
.title--left {
  display: flex;
  padding-left: 1rem;
  justify-content: flex-start;
}
.title--uper {
  text-transform: uppercase;
}
.title--normal {
  font-weight: normal;
}
.title--small {
  font-size: 1rem;
}

.intro {
  text-align: center;
}

.index__number {
  font-weight: normal;
}

.index:hover {
  background: #e9ddf8;
}
.index:hover i {
  color: #782cd3;
}

.page-title {
  font-size: 1.4rem;
  text-align: left;
  margin-left: 1rem;
}

.footer__logo {
  font-family: Shrikhand, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
  margin-left: 1.5rem;
  padding-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #9356dc, #ff79da 100%);
  height: 2.8rem;
  width: 58%;
  border-radius: 3rem;
  box-shadow: 0.1rem 0.1rem 0.6rem #797979;
}
.btn:hover {
  opacity: 0.88;
  box-shadow: 0.2rem 0.3rem 0.8rem #4d4d4d;
}
.btn p {
  font-size: 0.9rem;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn p {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btn p {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .btn {
    width: 200px;
    height: 70px;
    margin-top: 25px;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .btn {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    align-items: center;
  }
}

.index {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0.1rem 0.1rem 0.6rem #797979;
  margin: 1rem 1rem 1rem 1.6rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .index {
    width: 300px;
    height: 60px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .index {
    width: 400px;
    height: 70px;
    margin: 20px 0 30px 50px;
  }
  .index p {
    font-size: 1.2rem;
    margin-left: 30px;
  }
}
.index__number {
  display: flex;
  color: #fff;
  border-radius: 1rem;
  background-color: #9356dc;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 1.2rem;
  margin: 0 0 0 1.5rem;
  position: relative;
  right: 2rem;
}
.index i {
  color: #6d6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 58px;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.6rem #797979;
}
.meal-card:hover > .meal-card__check {
  display: flex;
  justify-content: right;
  align-items: center;
  min-width: 50px;
  height: 100%;
  background-color: #71d7be;
  transform: scaleX(1);
  transform-origin: right;
  transition: all 500ms ease;
}
.meal-card:hover > .meal-card__check > .check {
  transform: translateX(-10px) rotate(-360deg);
  transition: transform 1000ms;
}
.meal-card .meal-card__check {
  min-width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meal-card .check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.meal-card .check i {
  font-size: 20px;
  color: white;
}
.meal-card__txt-and-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.meal-card__title h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  max-width: 240px;
  padding-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: visible;
}
.meal-card__txt {
  display: flex;
  justify-content: space-between;
}
.meal-card__txt p {
  margin: 4px 0 8px 0;
  max-width: 240px;
  padding-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.92rem;
}
.meal-card__txt :first-child {
  font-size: 0.81rem;
}
.meal-card__price {
  display: flex;
  min-width: 35px;
  font-weight: bold;
  margin: 1.8rem 0.6rem 0 0;
  justify-content: center;
  align-items: center;
  color: black;
}
.meal-card__border {
  border-radius: 1rem;
  margin: 12px 1rem;
  padding: 0 0 0 0.5rem;
}
.meal-card__border:hover p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.meal-card__border:hover h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.meal-card .meal-card {
  opacity: 0;
  visibility: hidden;
  transition: opacity 5000ms, visibility 5000ms 500ms;
}

.green-line {
  display: block;
  width: 35px;
  height: 3px;
  border: #71d7be solid 1px;
  background-color: #71d7be;
  margin-left: 1rem;
}

.new {
  position: absolute;
  background: #99e2d0;
  color: #24806a;
  padding: 5px 8px;
  font-size: 0.85rem;
  border-radius: 0.2rem;
  font-weight: bold;
}
.new--top-right {
  top: 10px;
  right: 10px;
}

.logo {
  width: 10rem;
  margin: 1.5rem 0 1rem 0;
}
.logo--center {
  display: flex;
  justify-content: center;
}

.page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page__header .div__arrow-left {
  width: 3.5rem;
  display: flex;
  justify-content: center;
}
.page__header i {
  font-size: 1.3rem;
}

.logo--margin-left {
  margin-left: 1rem;
}
.logo--margin-top16 {
  margin-top: 16px;
}

.box-logo {
  display: flex;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 0.6rem #797979;
}

.box-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 219, 219, 0.5);
  font-weight: bold;
}
.box-location i {
  margin-right: 20px;
}

.section-presentation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-presentation {
    display: flex;
    flex-direction: row;
  }
  .section-presentation p {
    width: 66%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .section-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .section-presentation article p {
    font-size: 1.2rem;
  }
  .section-presentation aside h2 {
    margin-left: 200px;
  }
  .section-presentation h1 {
    margin-top: 50px;
    font-size: 1.6rem;
  }
  .section-presentation h2 {
    font-size: 1.5rem;
  }
  .section-presentation p {
    width: 66%;
  }
  .section-presentation article,
.section-presentation aside {
    width: 45%;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}
.explore a {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .explore {
    background-color: white;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .explore {
    background-color: white;
  }
}

.box__icon {
  width: 1rem;
  position: relative;
  right: 1rem;
}

.main-section {
  background-color: #f7f7f7;
}

.resto-pic {
  position: relative;
}
.resto-pic img {
  object-fit: cover;
  width: 100%;
  height: 148px;
  object-position: 0 -48px;
}
.resto-pic--up img {
  object-position: 0 -130px;
}
.resto-pic-page {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto-pic-page {
    height: 320px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .resto-pic-page {
    height: 320px;
  }
}
.resto-pic-page img {
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .resto-pic-page img {
    object-position: 0 -200px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1219px) {
  .resto-pic-page img {
    object-position: 0 -290px;
  }
}
@media screen and (min-width: 1220px) and (max-width: 1440px) {
  .resto-pic-page img {
    object-position: 0 -360px;
  }
}

.card-resto {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.6rem #797979;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-resto {
    width: 340px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .card-resto {
    width: 455px;
    margin-bottom: 30px;
  }
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  height: 60px;
}

.figcaption-txt {
  display: flex;
  flex-direction: column;
}

.icon_heart--right1 i {
  margin-right: 1rem;
}

.page-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1439px) {
  .cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

footer {
  background-color: #292929;
  color: white;
}
footer a {
  color: white;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}
ul li {
  margin-bottom: 5px;
}

.footer--up {
  position: relative;
  bottom: 30px;
}

.menu {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  bottom: 80px;
  background-color: white;
  padding-bottom: 15px;
}
.menu article {
  margin-bottom: 40px;
}
.menu .btn--center {
  display: flex;
  justify-content: center;
}

/*
TENTATIVE DE CREER UNE BOUCLE POUR L'INCREMENTATION DU ANIMATION-DELAY

$anim-delay: 200ms;
$reduc-delay: 20ms;

@mixin reduc-delay {
}

.mboucle {
    @for $i from 1 through 10 {
        &#"{$i} { enlever le " après le "#" pour avoir un code fonctionnel
            animation-delay: (
                    $anim-delay +
                        ($anim-delay - ($anim-delay - $reduc-delay * $i)) *
                        $i
                ) -
                $i *
                90;
        }
    }
}

test commit

*/
.m1 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m2 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 200ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m3 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 380ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m4 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 540ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m5 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 680ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m6 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 800ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m7 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 900ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m8 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 980ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m9 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 1040ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m10 {
  opacity: 0;
  animation: appear 800ms forwards;
  animation-delay: 1080ms;
  animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 1.2rem 1.3rem 1rem;
}
.icon_heart:hover i.fa-heart {
  display: none;
}
.icon_heart:hover i.fas.fa-heart {
  display: block;
}

/* icon heart palette */
.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -2rem;
}
.icon_heart_start:hover i.fa-heart {
  display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}

/* icon_heart 3 */
.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 9rem;
}
.icon_heart_3:hover i.fa-heart {
  display: none;
}
.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}

i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.remplissage {
  animation-name: fill;
  animation-duration: 500ms;
  transform: translateY(1);
}

@keyframes fill {
  0% {
    transform: translateY(0);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(1);
    transform-origin: bottom;
  }
}
i.fa-heart:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
