@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/butons";
@import "./components/cards";
@import "./layouts/header";
@import "./layouts/boxes";
@import "./layouts/footer";

.page-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_heart {
    &--right1 {
        margin-right: 1rem;
    }
}

.green-line {
    display: block;
    width: 35px;
    height: 3px;
    border: $color-tertiary solid 1px;
    background-color: $color-tertiary;
    margin-left: 1rem;
}
