.btn {
    display: flex;
    justify-content: center;
    background-color: violet;
    height: 2.8rem;
    width: 58%;
    border: solid 1px red;
    border-radius: 3rem;
    p {
        font-size: 0.9rem;
        color: white;
    }
}
