.index {
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(247, 247, 247);
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(121, 121, 121);
    margin: 1rem 1rem 1rem 1.6rem;

    &__number {
        display: flex;
        color: #fff;
        border-radius: 1rem;
        background-color: $color-primary;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 1.2rem;
        margin: 0 0 0 1.5rem;
        position: relative;
        right: 2rem;
    }

    i {
        color: rgb(119, 119, 119);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
