.index {
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgb(247, 247, 247);
    @include box-shadow;
    margin: 1rem 1rem 1rem 1.6rem;

    @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 300px;
        height: 60px;
    }

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        width: 400px;
        height: 70px;
        margin: 20px 0 30px 100px;

        p {
            font-size: 1.2rem;
            margin-left: 30px;
        }
    }

    &__number {
        display: flex;
        color: #fff;
        border-radius: 1rem;
        background-color: $color-primary;
        align-items: center;
        justify-content: center;
        height: 30%;
        width: 1.2rem;
        margin: 0 0 0 1.5rem;
        position: relative;
        right: 2rem;
    }

    i {
        color: rgb(109, 109, 109);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.meal-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 58px;
    overflow: hidden;
    @include box-shadow;

    &:hover > .meal-card__check {
        display: flex;
        justify-content: right;
        align-items: center;
        min-width: 50px;
        height: 100%;
        background-color: $color-tertiary;
        transform: scaleX(1);
        transform-origin: right;
        transition: all 500ms ease;

        > .check {
            transform: translateX(-10px) rotate(-360deg);
            transition: transform 1000ms;
        }
    }

    .meal-card__check {
        min-width: 0;
        height: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 500ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        i {
            font-size: 20px;
            color: white;
        }
    }

    &__txt-and-price-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    &__title {
        h3 {
            font-weight: bold;
            font-size: 1rem;
            margin-top: 10px;
            @include meal-card__txt;
            overflow: visible;
        }
    }

    &__txt {
        display: flex;
        justify-content: space-between;

        p {
            margin: 4px 0 8px 0;
            @include meal-card__txt;
            font-size: 0.92rem;
        }

        :first-child {
            font-size: 0.81rem;
        }
    }

    &__price {
        display: flex;
        min-width: 35px;
        font-weight: bold;
        margin: 1.8rem 0.6rem 0 0;
        justify-content: center;
        align-items: center;
        color: black;
    }

    &__border {
        border-radius: 1rem;
        margin: 12px 1rem;
        padding: 0 0 0 0.5rem;

        &:hover {
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            h3 {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .meal-card {
        opacity: 0;
        visibility: hidden;
        transition: opacity 5000ms, visibility 5000ms 500ms;
    }
}
