html {
    /* Set border-box as the global default */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Allow each element to override */
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

figure {
    margin: 1rem;
}

h3 {
    margin: 0;
}
