@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    font-family: Shrikhand, Arial, sans-serif;
    text-align: center;
}

.title {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem 3.5rem 0 3.5rem;

    @media screen and (min-width: 768px) and (max-width: 991px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 912px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 1.6rem;
        padding-top: 1.8rem;
    }

    &--center {
        text-align: center;
    }

    &--left {
        display: flex;
        padding-left: 1rem;
        justify-content: flex-start;
    }

    &--uper {
        text-transform: uppercase;
    }

    &--normal {
        font-weight: normal;
    }

    &--small {
        font-size: 1rem;
    }
}

.page-title {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
}

.restaurants {
    padding-top: 15px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin-left: 30px;
    }
}

.intro {
    text-align: center;

    @media screen and (min-width: 1440px) {
        font-size: 1.2rem;
    }
}

.index__number {
    font-weight: normal;
}

.index:hover {
    i {
        color: darken($color: $color-primary, $amount: 10%);
    }

    background: lighten($color: $color-primary, $amount: 32%);
}
