@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    font-family: Shrikhand, Arial, sans-serif;
    text-align: center;
}
.title {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem 3.5rem 0 3.5rem;

    &--center {
        text-align: center;
    }

    &--left {
        display: flex;
        padding-left: 1rem;
        justify-content: flex-start;
    }

    &--uper {
        text-transform: uppercase;
    }

    &--normal {
        font-weight: normal;
    }

    &--small {
        font-size: 1rem;
    }
}

.intro {
    text-align: center;
}

.index__number {
    font-weight: normal;
}

.index:hover {
    i {
        color: darken($color: $color-primary, $amount: 10%);
    }

    background: lighten($color: $color-primary, $amount: 32%);
}

.page-title {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
}

.footer__logo {
    font-family: Shrikhand, Arial, sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    margin-left: 1.5rem;
    padding-top: 20px;
}
