@mixin box-shadow {
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(121, 121, 121);
}

@mixin meal-card__txt {
    max-width: 240px;
    padding-right: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
