footer {
    background-color: rgb(41, 41, 41);
    color: white;

    a {
        color: white;
    }
}

ul {
    list-style: none;
    padding-left: 1.5rem;

    li {
        margin-bottom: 5px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.1rem;
    }

    a:hover {
        color: $color-secondary;
    }
}

.footer--up {
    position: relative;
    bottom: 30px;
}
