@import "../components/logo";

.page__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .div__arrow-left {
        width: 3.5rem;
        display: flex;
        justify-content: center;
    }

    i {
        font-size: 1.3rem;
    }
}

.logo {
    &--margin-left {
        margin-left: 1rem;
    }

    &--margin-top16 {
        margin-top: 16px;
    }
}
