.menu {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    bottom: 80px;
    background-color: white;
    padding-bottom: 15px;

    article {
        margin-bottom: 40px;
    }

    .btn--center {
        display: flex;
        justify-content: center;
    }
}

.articles {
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}

.m1 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m2 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 200ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m3 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 380ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m4 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 540ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m5 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 680ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m6 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 800ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m7 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 900ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m8 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 990ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m9 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 1070ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

.m10 {
    opacity: 0;
    animation: appear 800ms forwards;
    animation-delay: 1140ms;
    animation-timing-function: cubic-bezier(0.35, 0.73, 0.33, 1);
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
