.menu {
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    bottom: 30px;
    background-color: white;
    padding-bottom: 15px;

    article {
        margin-bottom: 40px;
    }

    .btn--center {
        display: flex;
        justify-content: center;
    }
}

.m1 {
    animation: appear ease-in-out 2s forwards;
}

.m2 {
    opacity: 0;
    animation: appear ease-in-out 2s forwards;
    animation-delay: 0.5s;
}

.m3 {
    opacity: 0;
    animation: appear ease-in-out 2s forwards;
    animation-delay: 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
